/* default style  */
*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
}


section{
  height: 100vh;
  display: flex;
  font-family: sans-serif;
}
.tech-gallery{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.tech-description{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c4e50;
  color: #fff;
  clip-path: polygon(0 10%, 100% 1%, 100% 100%, 0 88%);

}
.tech-description h1 {
  padding: 11px;
  font-size: 22px;
}
.tech-description p {
  font-size: 22px;
}

.tech-preview{
  display: flex;

  width: 80%;
  border: 2px solid  #7a7d80;

}
.tech-description {

  width: 50%;
  display: flex;
  flex-direction: column;
}
.tech-preview img {
  flex-grow: 1;
  height: 100px;
  opacity: 0.5;
  cursor: pointer;
}
.tech-highlight{
  width: 80%;
  height: 50%;

}
img.tech-active{
  opacity: 1;
}